.back-to-home-link {
    color: white !important;
}

.module-header {
    margin: 0 0 -62px 0;
}

.module-menu {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.28) 0px 0px 16px;
    background-color: #3366CC;
    color: black;
}

.module-textbox:focus {
    color: black !important;
    background-color: transparent !important;
}

.sidenav {
    height: 100%;
    width: 242px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 18px;
    padding-right: 0 !important;
}

.sidenav a {
    padding: 18px 8px 18px 18px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    text-transform: uppercase;
}

.sidenav a:hover {
    background-color: #eaf4ff;
}

.sidenav a:active {
    color: #fff;
}

.clickedStyles {
    visibility: visible !important;
    opacity: 1 !important;
}

.custom-module-box {
    width: 105%;
    margin: 0 0 0 19px;
    padding: 0 0 0 30px;
}

.module-textbox {
    width: 82% !important;
    margin: 0px 2px 0 0px;
    color: black !important;
    text-transform: uppercase;
}

.module-submit-btn {
    margin: 7px 0px 0px 10px;
    font-size: 27px;
    color: #3399FF;
    cursor: pointer;
}

.module-icon {
    color: #3399FF;
    padding: 0 11px 0 0px;
    cursor: pointer;
}

.module-delete-icon {
    position: absolute;
    right: 0;
    padding: 4px 15px 0 0px;
    cursor: pointer;
    color: red;
    font-size: 20px;
}

.lessonListParent {
    list-style-type: none;
    margin: -18px 0 0 8px;
}

.lessonListChild {
    padding: 20px 0;
}

.chip-style {
    width: 18%;
}

.lesson-topic{
    margin: 0 0 0 40px;
    color: grey;
    text-decoration: underline;
}

.module-topic{
    color: grey;
    margin: 0 0 0 16px;
    text-decoration: underline;
}

.chip-style svg {
    position: relative;
    left: 53px;
}

.custom-lesson-box {
    width: 58%;
    padding: 18px 0 0 52px;
}

.moduletext {
    cursor: pointer;
}

.lessonTitle {
    cursor: pointer;
}

.customLessonParent{
    max-width: 53.5% !important;
}

.custom-topic-box{
    width: 95%;
    padding: 18px 0 0 52px;
}

.topic-submit-btn{
    margin: 5px 0px 0px 10px;
    font-size: 27px;
    color: #3399FF;
    cursor: pointer;
}

.topic-table{
    width: 69%;
    margin: 0px 0px 0 37px;
    /*border: 1px solid black;*/
}

.topic-title-row{
    /*border-bottom: 1px solid black;*/
    text-transform: uppercase;
}

.topicdiv{
    position: fixed !important;
    right: 8%;
}

.topic-input-hide{
    display: none !important;
}

.topic-input-show{
    display: none !important;
}


table.topic-table tbody {
    height: 241px;
    overflow-y: auto;
    overflow-x: hidden;
    display:block;
}

table.topic-table tbody tr{
    display: table;
    width: 100%;
}

.active{
    background-color: lightsteelblue;
}
